{% extends "layout-adm.njk" %}

{% block content %}

<div class="create-recipe">
    <form action="/admin/recipes" method="POST">
   
    <div class="header-form">
        <h1>Criando receita</h1>
        <button type="submit">Salvar receita</button>
    </div>

    <div class="recipe-img">
        <p>Imagem da receita</p>
        <input type="url" name="image">
    
    </div>

    <div class="recipe-title-form">
        <p>Titulo da receita</p>

        <div class="ingredient">
            <input type="text" name="title" >
        </div>

    </div>

    <div class="recipe-author-form">
        <p>Autor da receita</p>

        <div class="ingredient">
            <input type="text" name="author" >
        </div>

    </div>

    <div class="recipe-ingredients">
        <p>Ingredientes</p>

        <div class="ingredient">
            <input type="text" name="ingredients[]" >
        </div>
    </div>
    <button type="button" class="add-ingredient" onclick="addIngredient()">Adicionar novo ingrediente</button>

    <div class="recipe-preparation">
        <p>Modo de preparo</p>

        <div class="preparation">
            <input type="text" name="preparation[]" >
        </div>
    </div>
    <button type="button" class="add-step" onclick="addStep()">Adicionar novo passo</button>

    <div class="recipe-information">
        <p>Informações adicionais</p>
        <textarea name="information" cols="30" rows="30"></textarea>
    </div>

</div>


</form>

{% endblock content %}