{% extends "layout-adm.njk" %}

{% block content %}

<div class="adm-recipe-title">
    <h3>Receita:{{recipe.title}}</h3>
    <a id="edit-button" href="#">Editar Receita</a>
</div>

<div class="banner">
 <img src="{{recipe.image}}" alt="">
</div>

<div class="recipe-title">
        <h1>{{recipe.title}}</h1>
        <p>{{recipe.author}}</p>
</div>

<section class="details">

    <div class="recipe-details">
        <div class="details-title">
        <h2>Indredientes</h2>
        <a>Mostrar</a>
        </div>

        <div class="recipe-list hide">
        {% for ingredient in recipe.ingredients %}
        
        <li>{{ingredient}}</li>

        {% endfor %}
        </div>
    
    </div>

    <div class="recipe-details">
        <div class="details-title">
        <h2>Modo de preparo</h2>
        <a>Mostrar</a>
        </div>

        <div class="recipe-list hide">
        {% for step in recipe.preparation %}

        <li>{{step}}</li>

        {% endfor %}
        </div>
    
    </div>

    <div class="recipe-details">
        <div class="details-title">
        <h2>Informações adicionais</h2>
        <a>Mostrar</a>
        </div>

        <div class="recipe-info hide">
        <p>
        {{ "Nenhuma informação extra" if recipe.information == "" else recipe.information }}
        </p>
        </div>
    
    </div>

</section>




{% endblock content %}