<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Foody</title>
</head>
<body>
    <header id = "h-admin">
    
        <a href="/">Foodfy</a>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>    

<script src="/scripts.js"></script>
    
</body>
</html>