 <!-- MODAL -->
     <section>
        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-img">
                     <img src="" alt="">
                </div>
                <div class="modal-texts">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

<script src="/scripts.js"></script>