    {% extends "layout.njk" %}
    
    {% block content %}

<div class="adm-div">

    <section class="chefs-cards">

        {% for card in cards %}
       
        <div class="chef-card">

            <div class="chef-image">
                <img src="{{card.avatar_url}}" alt="foto do chef" >
            </div>
            <div class="chef-name">
                <p>{{card.name}}</p>
            </div>
            <div class="card-texts">
              <p>
                {% set items =  [card.total_recipes, " receitas"] %}
                {{ "Nenhuma receita" if card.total_recipes == 0 else items | join  }}
              </p>
            </div>

        </div>
    
        {% endfor %}
    </section>

    
</div>

    {%endblock content%}
  