    {% extends "layout.njk" %}

    {% block header %}
    
    <header>
    
       <a href="/"> <img src="/materials/logo.png" alt="Logo do Site" ></a>
        
        <nav>
             <li><a href="/about">Sobre</a></li>
             <li><a href="/recipes">Receitas</a></li>
             <li><a href="/chefs">Chefs</a></li>
        </nav>

        <form action="/" method="get" class="form-filter">

            <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
            <button type="submit">Buscar</button>
        
        </form>

    </header>
    {% endblock header %}

    {% block content %}

    <div class="search-for">
   
    <h1>Buscando por "{{filter}}"</h1>
    <h2> {{notFound}}</h2>

    </div>
    <section class="cards">
       
       {% for card in cards %}
       
        <div class="card" id= "{{ card.id }}" >
            <div class="card-img">
                 <img src="{{ card.image }}" alt="Receita">
            </div>

            <div class="card-texts">
                 <h3>{{ card.title }}</h3>
                 <p>{{ card.chef_name }}</p>
            </div>
        </div>

     {% endfor %}
        
    </section>

    {%endblock content%}